<%- include("header") -%>
<h2>Class Page</h2>
<form class="" action="class" method="post">
  <button class="btn" type="submit" name="classname" value="CSC-405">CSC-405</button>
  <button class="btn" type="submit" name="classname" value="CSC-101">CSC-101</button>
  <button class="btn" type="submit" name="classname" value="CSC-102">CSC-102</button>
  <button class="btn" type="submit" name="classname" value="CSC-307">CSC-307</button>
</form>
<%- include("footer") -%>
